<div class="table-responsive" *ngIf="pins && pins.length > 0; else noData">
  <table class="table table-hover table-striped table-bordered">
    <thead>
    <tr>
      <th scope="col">Title</th>
      <th scope="col">Image</th>
      <th scope="col">Collaborators</th>
      <th scope="col">Privacy</th>
    </tr>
    </thead>
    <tbody>
    <ng-container *ngFor="let pin of pins">
      <tr>
        <td>{{ pin.title }}</td>
        <td>
          <img
            [src]="pin.image"
            [alt]="pin.title"
            width="100px"
          />
        </td>
        <td>
          @for (collaborator of pin.collaborators; track collaborator.email) {
            <p class="mb-0">{{collaborator.name}}</p>
          }
        </td>
        <td>{{ pin.privacy.toUpperCase() }}</td>
      </tr>
    </ng-container>
    </tbody>
  </table>
</div>

<ng-template #noData>
  <p class="text-center text-muted">No Data</p>
</ng-template>
